* {
    box-sizing: border-box;
}

.ice_cream {
    display: block; /* делаем ссылку блочным элементом */
    height: 200px;
    background: #ccc;
    position: relative; /* задаем родителю значение position relative, чтобы отсчет координат ввелся от края родительского элемента для child с position: absolute */
    margin: 15px 0;
}

.ice_caption {
    position: absolute; /* позиционируем блок с тектом */
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    background: rgba(216, 206, 206, 0.849);
    transition: .3s;
}

.ice_cream:hover .ice_caption {
    background: rgba(0, 0, 0, .75);
}
