{% extends "base.html" %}
{% load static %}
{% block title %}
  Анфиса для друзей. Список мороженого
{% endblock %}
{% block content %}
  <div class="container-md">
    <div class="col-sm-12">
        <h2>Каталог продукции</h2>
    </div>
    {% for ice_cream in ice_cream_list %}
      <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ ice_cream.title }}</h5>
              <p class="card-text">{{ ice_cream.description|truncatewords:10 }}</p>
              <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.id  %}" class="card-link">Подробнее...</a>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}
  </div>
{% endblock %}
